Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Add delay to amf/smf PVs
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Change yml file suffix in main
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

add support for installing nonKIND cluster via kubeadm (previously PR #46) (#296)
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
  e2e/provision/playbooks/roles/kubeadm/defaults/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-Debian.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-RedHat.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

add support for installing nonKIND cluster via kubeadm
  e2e/provision/deploy_kubeadm_k8s.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-Debian.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-RedHat.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/main.yaml
  e2e/provision/vars/kubeadm.yaml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add support for installing nonKIND cluster via kubeadm, moving file locations
  e2e/provision/deploy_kubeadm_k8s.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-Debian.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-RedHat.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/main.yaml
  e2e/provision/vars/kubeadm.yaml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

adds prow job to install Nephio components on kubeadm cluster
  .prow.yaml
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
  e2e/provision/playbooks/roles/kubeadm/defaults/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-Debian.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-RedHat.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/wait-deployments.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

add support for installing nonKIND cluster via kubeadm (previously PR #46) (#296)
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

adds prow job to install nephio components on kubeadm cluster
  .prow.yaml
  e2e/provision/init.sh
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/wait-deployments.yml
  e2e/terraform/main.tf
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Make sandbox install script WSL-friendly
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix linter errors
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

adds prow job to install nephio components on kubeadm cluster (#297)
  .prow.yaml
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
  e2e/provision/playbooks/roles/kubeadm/defaults/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-Debian.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-RedHat.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

rename the print function in install_sandbox.sh as suggested by review
  e2e/provision/install_sandbox.sh
  images/generic-autobumper/Dockerfile
  images/gotests/Dockerfile
  images/label_sync/Dockerfile
  images/releaser/Dockerfile
Due: provision-linter, images-hadolint, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser

Adding ok-to-test label for Prow
  tools/dependabot/generate_dependabot.py
Due: none

Remove nephio docker dev build jobs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding ok-to-test label for Prow (#299)
  tools/dependabot/generate_dependabot.py
Due: none

Remove nephio docker dev build jobs (#300)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Show the output of `porchctl version` during bootstrap
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix lint errors
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Show the output of `porchctl version` during bootstrap (#301)
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Potential fix for free5gc 009.sh test
  e2e/tests/free5gc/009.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Nicer fix for the retry loop in the free5g/009.sh test
  e2e/tests/free5gc/009.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add always approval to selected PVs
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/004b-ran-network.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add conflict retry mech to 009 test
  e2e/tests/free5gc/009.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add always approval to selected PVs (#302)
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/009.sh
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/004b-ran-network.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade k8s version v1.30.0
  e2e/provision/init.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add kispaljr to OWNERS file
  OWNERS
Due: none

Add kispaljr to OWNERS file (#304)
  OWNERS
Due: none

Bump k8s version in bootstrap role
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update README with new k8s version
  e2e/provision/playbooks/roles/bootstrap/README.md
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Changing pre-baked image naming convention
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade andrewrothstein ansible roles
  e2e/provision/galaxy-requirements.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Script logging for e2e tests
  e2e/lib/testing.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Changing pre-baked image naming convention (#305)
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update testing.sh
  e2e/lib/testing.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix for 009 smf scaling flakiness
  e2e/tests/free5gc/009.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adding ansible galaxy install pre_task to deploy_kubeadm_k8s
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Change timestamp path to writable
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34
