Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Add ansible_roles_path env var
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert disk and ansible changes
  e2e/provision/galaxy-requirements.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/test-requirements.txt
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix image URL
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert wait for deployments retry
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade galaxy.requirements
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update kpt prepare yaml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Increase kind ulimit
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Test webui new image
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove ulimit modify cmd
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert kpt integration ci image
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add create cluster tasks to prepare
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix linting err
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert webui image test
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Use large-ubuntu-im for kpt-integration
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Use larger disk image for integration CI suites (#353)
  e2e/provision/galaxy-requirements.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add argocd install to sandbox (#351)
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade tools and platform
  .gitignore
  e2e/provision/init.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
  e2e/provision/test-requirements.txt
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Use large ubuntu image for bootstrap
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/tests/free5gc/001.sh
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add roles path to bootstrap
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Trigger install int
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add roles-path
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add ROLES_PATH env var
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert free5gc trigger
  e2e/tests/free5gc/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix ANSIBLE_LIB path
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Pin molecule version < 25
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Trigger flux suite
  e2e/tests/flux/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

ArgoCD e2e Test
  .prow.yaml
  e2e/tests/argocd/001.sh
  e2e/tests/argocd/002-free5gc-cp.yaml
  e2e/tests/argocd/002.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Rename argo to argocd in tests
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

ArgoCD e2e Test (#355)
  .prow.yaml
  e2e/tests/argocd/001.sh
  e2e/tests/argocd/002-free5gc-cp.yaml
  e2e/tests/argocd/002.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Update argo e2e
  e2e/tests/argocd/002-free5gc-cp.yaml
  e2e/tests/argocd/002.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Set molecule catalog version directly
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert porchctl to dev
  .gitignore
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update oai ran test scripts
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade tools and platform (#354)
  .gitignore
  e2e/provision/init.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
  e2e/tests/flux/001.sh
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update oai ran test scripts
  e2e/tests/oai/002-dependency.sh
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update oai ran test scripts (#357)
  e2e/tests/oai/002-dependency.sh
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update weekly jobs to run at 2am
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
