Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Make ansible task names more descriptive (#185)
  e2e/provision/playbooks/roles/bootstrap/tasks/wait-deployments.yml
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Make Fedora job non-blocking
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Require self approval on test-infra
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Require self approval on test-infra (#188)
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Make Fedora job non-blocking (#187)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

look up environment variables instead of passing as extra-args
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
Due: e2e

Update e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
Due: e2e

look up environment variables instead of passing as extra-args (#189)
  e2e/provision/init.sh
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
Due: e2e

Create nephio/tox container image
  images/linter/Dockerfile
Due: none

Enable provision linter in prow
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Enable tox linter in provision folder (#190)
  .prow.yaml
  images/linter/Dockerfile
Due: presubmit-test-infra-inrepoconfig-validation

Adding gen-configmap-fn build
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding linter image build
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Fixing linter version
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Adding gen-configmap-fn build (#191)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding linter image build (#192)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Map Nephio WebUI port to host machine
  e2e/provision/Vagrantfile
Due: e2e

Expose nephio_pkg_version terraform variable
  .prow.yaml
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Fix postgres_password generation comment
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: e2e

Use nephio_pkg_version in mgmt repository and rootsync creation
  e2e/provision/playbooks/cluster.yml
Due: e2e

Skip gitea k8s resources creation in main
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: e2e

Expose nephio_example_repo_uri ansible value
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: e2e

Improve NEPHIO mapping variables
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: e2e

Drop nephio-stock-repos package dependency
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: e2e

Ignore pyc files
  .gitignore
Due: none

Generate molecule instances names dinamically
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/tox.ini
Due: e2e

Enable GCE driver in molecule tests
  .prow.yaml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
  e2e/provision/tox.ini
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Add molecule Dockerfile
  images/molecule/Dockerfile
Due: none

Add prow task to build molecule image
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Enable Molecule tests in PROW (#195)
  .gitignore
  .prow.yaml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
  e2e/provision/tox.ini
  images/molecule/Dockerfile
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Map Nephio WebUI port to host machine (#194)
  e2e/provision/Vagrantfile
Due: e2e

Fix for molecule image build
  images/molecule/Dockerfile
Due: none

Enable `main` nephio packages version in periodic prow jobs (#183)
  .prow.yaml
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Fix for molecule image build (#196)
  images/molecule/Dockerfile
Due: none

Remove user creation in molecule img
  images/molecule/Dockerfile
Due: none

Remove user creation in molecule img (#197)
  images/molecule/Dockerfile
Due: none

Add more information in case tunnel is never created
  e2e/tests/007.sh
Due: e2e

Add packagerevision and packagevariant wait process in 009 test script
  e2e/tests/009.sh
Due: e2e

Bump gtp5G version to v0.8.3
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: e2e

Set root user to molecule img
  images/molecule/Dockerfile
Due: none
