Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Upgrade mgmt cluster to v1.29.2
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-ubuntu-focal, e2e-fedora-34

Upgrade Ansible galaxy deps
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add docker stats on failure
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Remove unnecessary nephio.yaml file?
  e2e/provision/nephio.yaml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Cleanup and update (#254)
  e2e/provision/Vagrantfile
  e2e/provision/galaxy-requirements.yml
  e2e/provision/init.sh
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-ubuntu-focal, e2e-fedora-34

Update .prow.yaml
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

add support for OAI e2e tests for fedora34 (#251)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Point packer explicitly on token file
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-ubuntu-focal, e2e-fedora-34

Point packer explicitly on token file (#255)
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-ubuntu-focal, e2e-fedora-34

Fixing token path
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-ubuntu-focal, e2e-fedora-34

Fixing token path (#256)
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-ubuntu-focal, e2e-fedora-34

Add Fedora 34 OAI Periodic to config
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add Fedora 34 OAI Periodic to config (#257)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update gotests to Go 1.22
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Update gotests to Go 1.22 (#258)
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Updating gotests binaries
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Updating gotests binaries (#259)
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Get dmesg differences on failures
  e2e/e2e.sh
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Bumpt gtp5g version to 0.8.8
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Add assertion to check kernel version in gtp5g playbook
  e2e/provision/playbooks/roles/bootstrap/tasks/load-gtp5g-module.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Autobumper upgrade
  images/generic-autobumper/Dockerfile
Due: images-hadolint, build-push-image-generic-autobumper

Add fedora38 support
  .prow.yaml
  e2e/provision/distros_supported.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/terraform/main.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Upgrade gtp5g version and enable verifiers (#261)
  e2e/e2e.sh
  e2e/provision/init.sh
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/load-gtp5g-module.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Adding external config for autobumper
  images/generic-autobumper/autobumper_config.yaml
Due: images-hadolint, build-push-image-generic-autobumper

Enable autodestroy in CI VMs
  e2e/terraform/modules/gcp/main.tf
Due: e2e-ubuntu-focal, e2e-fedora-34

Enable autodestroy in CI VMs (#263)
  e2e/terraform/modules/gcp/main.tf
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding new reviewers
  OWNERS
Due: none

Add efiacor to OWNERS file
  OWNERS
Due: none

Autobumper upgrade (#262)
  images/generic-autobumper/Dockerfile
  images/generic-autobumper/autobumper_config.yaml
Due: images-hadolint, build-push-image-generic-autobumper

Adding new reviewers (#264)
  OWNERS
Due: none

Update OWNERS
  OWNERS
Due: none

Add efiacor to OWNERS file (#265)
  OWNERS
Due: none

Add logs for wait ends to e2e tests
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Added logging on porchctl approve
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Add logs for wait end times and porch package approval times to e2e tests (#267)
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Script for extracting timestamped entries from e2e test logs
  e2e/lib/log2timestampcsv.py
Due: e2e-ubuntu-focal, e2e-fedora-34

Script for extracting timestamped entries from e2e test logs (#268)
  e2e/lib/log2timestampcsv.py
Due: e2e-ubuntu-focal, e2e-fedora-34

feat: Automate released image signing
  .prow.yaml
  images/releaser/Dockerfile
  images/releaser/release.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, images-hadolint, build-push-image-releaser, presubmit-test-infra-inrepoconfig-validation

feat: Automate released image signing (#266)
  .prow.yaml
  images/releaser/Dockerfile
  images/releaser/release.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, images-hadolint, build-push-image-releaser, presubmit-test-infra-inrepoconfig-validation

add support for installing nonKIND cluster via kubeadm
  e2e/provision/deploy_kubeadm_k8s.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-Debian.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-RedHat.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/main.yaml
  e2e/provision/vars/kubeadm.yaml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34
