Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

e2e:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'cd e2e/terraform && terraform init && terraform plan && \
  
        terraform apply -auto-approve; terraform destroy -auto-approve
  
        '
      volumeMounts:
      - name: satoken
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-e2e:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/e2e \\\n  --dockerfile=Dockerfile --destination=nephio/e2e:${BUILD_ID} \\\n  --destination=nephio/e2e:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

build-push-image-generic-autobumper:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

presubmit-test-infra-inrepoconfig-validation:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=../test-infra/prow/config/plugins.yaml
      - --config-path=../test-infra/prow/config/config.yaml
  ...

Fix UPF deployment name
  e2e/tests/005.sh
Due: e2e

Fix strange escaping
  e2e/provision/hacks/vlan-interfaces.sh
Due: e2e

Add VLAN hack, network-config, UPF first
  e2e/provision/README.md
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/002.sh
  e2e/tests/005-edge-free5gc-upf.yaml
  e2e/tests/005.sh
  e2e/tests/006-regional-free5gc-amf.yaml
  e2e/tests/006-regional-free5gc-smf.yaml
  e2e/tests/006.sh
Due: e2e

Fix one more UPF deployment name
  e2e/tests/005.sh
Due: e2e

make fmt
  e2e/tests/003.sh
Due: e2e

Add molecule test for network-config-controller
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: e2e

Update e2e/provision/hacks/vlan-interfaces.sh
  e2e/provision/hacks/vlan-interfaces.sh
Due: e2e

adding configinject-fn
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

adding configinject-fn (#126)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Make executable
  e2e/provision/hacks/vlan-interfaces.sh
Due: e2e

Enabling building all images in nephio in the same time
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update OWNERS
  OWNERS
Due: none

Add VLAN hack, network-config, UPF first (#125)
  e2e/provision/README.md
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/002.sh
  e2e/tests/003.sh
  e2e/tests/005-edge-free5gc-upf.yaml
  e2e/tests/006-regional-free5gc-amf.yaml
  e2e/tests/006-regional-free5gc-smf.yaml
  e2e/tests/006.sh
Due: e2e

Enabling building all images in nephio in the same time (#127)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Removing specializer-operator
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Removing specializer-operator (#128)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Modifications based on live testing
  e2e/tests/008.sh
Due: e2e

Exit, not return
  e2e/tests/008.sh
Due: e2e

Additional feedback, also wait for deployment readiness
  e2e/tests/008.sh
Due: e2e

Remove free5gc reference from UERANSIM deployment
  e2e/tests/007-edge-ueransim.yaml
  e2e/tests/007.sh
Due: e2e

Get clusters information on errors
  e2e/lib/k8s.sh
  e2e/provision/init.sh
Due: e2e

Get testing metrics
  e2e/lib/testing.sh
Due: e2e

Remove free5gc reference from UERANSIM deployment (#130)
  e2e/tests/007-edge-ueransim.yaml
  e2e/tests/007.sh
Due: e2e

Modifications based on live testing (#129)
  e2e/tests/008.sh
Due: e2e

Improve errors information (#131)
  e2e/lib/k8s.sh
  e2e/lib/testing.sh
  e2e/provision/init.sh
Due: e2e

adds instructions to generate network topology
  e2e/provision/README.md
  e2e/provision/hacks/network-topo.sh
Due: e2e

Use ansible.posix.seboolean ansible module
  e2e/provision/playbooks/cluster.yml
Due: e2e

Convert 000.sh bash script in Ansible tasks
  e2e/provision/playbooks/cluster.yml
  e2e/tests/000.sh
Due: e2e

Add wait for kind nodes task:
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: e2e

Fix ending line character
  e2e/provision/playbooks/roles/bootstrap/vars/redhat.yml
Due: e2e

Hide secret information
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: e2e

Releaser image
  images/releaser/Dockerfile
Due: none

Create release.sh
  images/releaser/release.sh
Due: none

Update .prow.yaml
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Enable Porch controller logs information
  e2e/lib/testing.sh
Due: e2e

Create README.md
  assets/README.md
Due: none

Adding screenshots for wiki
  assets/1_release_top.png
  assets/2_create_tag.png
  assets/3_pick_target.png
  assets/4_notes.png
  assets/5_prow_job.png
  assets/6_log_details.png
  assets/7_image_pushed.png
Due: none

adds instructions to generate network topology (#132)
  e2e/provision/README.md
  e2e/provision/hacks/network-topo.sh
Due: e2e

Ansible refactoring (#133)
  e2e/lib/testing.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/vars/redhat.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/000.sh
Due: e2e

Add a subscriber with curl
  e2e/tests/007-subscriber.json
  e2e/tests/007.sh
Due: e2e

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
