Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

e2e:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'cd e2e/terraform && terraform init && terraform plan && \
  
        terraform apply -auto-approve; terraform destroy -auto-approve
  
        '
      volumeMounts:
      - name: satoken
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-e2e:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/e2e \\\n  --dockerfile=Dockerfile --destination=nephio/e2e:${BUILD_ID} \\\n  --destination=nephio/e2e:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

build-push-image-generic-autobumper:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

presubmit-test-infra-inrepoconfig-validation:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=../test-infra/prow/config/plugins.yaml
      - --config-path=../test-infra/prow/config/config.yaml
  ...

Set root user to molecule img (#198)
  images/molecule/Dockerfile
Due: none

Use nephio molecule docker image in prow
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Use nephio molecule docker image in prow (#199)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Upgrade gtp5G kernel module (#186)
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/tests/007.sh
  e2e/tests/009.sh
Due: e2e

Improve e2e Dockerfile
  images/e2e/Dockerfile
Due: build-push-image-e2e

Use fixed distro less version image for generic autobumper
  images/generic-autobumper/Dockerfile
Due: build-push-image-generic-autobumper

Improve label_sync dockerfile
  images/label_sync/Dockerfile
Due: build-push-image-label_sync

Enable prow dockerfile lint job
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Enable Dockerfile linter tool (#200)
  .prow.yaml
  images/e2e/Dockerfile
  images/generic-autobumper/Dockerfile
  images/label_sync/Dockerfile
Due: build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

Unpin python version
  images/e2e/Dockerfile
Due: build-push-image-e2e

Pin higher version instead
  images/e2e/Dockerfile
Due: build-push-image-e2e

Fix python version in e2e image (#201)
  images/e2e/Dockerfile
Due: build-push-image-e2e

Adding OAI images build
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Moving periodics from inrepoconfig to main
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Moving periodics from inrepoconfig to main (#204)
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Use absolute paths in prow jobs
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Adding OAI images build (#202)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Use nephio/e2e lastest tag for prow jobs
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Fix periodic prow periodic tasks (#205)
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Fix periodic prow job adding extra_refs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fix periodic prow job adding extra_refs (#206)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enabling inrepoconfig for OAI
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding path alias in extra_refs and changing execution path in e2e periodics
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enabling inrepoconfig for OAI (#207)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding path alias in extra_refs and changing execution path in e2e periodics (#208)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Nephio Experimental configuration
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Nephio Experimental configuration (#209)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Enabling Prow for whole Nephio Experimental
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Enabling Prow for whole Nephio Experimental (#210)
  prow/config/config.yaml
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Aligning nfdeploy-fn builds to code changes
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Aligning nfdeploy-fn builds to code changes (#211)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Clone GitHub to the local Gitea during install, in order to avoid Internet traffic originating in the clusters later.
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/mirror_git_repo_to_gitea.yaml
Due: e2e

Fix some whitespaces
  e2e/provision/playbooks/mirror_git_repo_to_gitea.yaml
Due: e2e

Adapting to Victor's changes regarding stock repo handling that happened since my original solution
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: e2e

Incorporate changes suggested by Victor
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: e2e

Add missing copyright header
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: e2e

Making ansible-lint a bit happier
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: e2e

Decrease wait time for creating the new repo in gitea
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: e2e

Fixing path for images that do not have git installed
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Pass HTTP proxy environment variables to the Docker daemon and to all ansible tasks
  e2e/provision/playbooks/cluster.yml
Due: e2e

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
