Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Use latest porch catalog version
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Bump kpt cli version to 1.0.0-beta.49
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/kpt/README.md
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/README.md
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Deprecated nephio-example-packages repository
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001.sh
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix gitea deployment process
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Use catalog-workloads-tools repo for free5gc e2e test
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Increase kpt waiting time for OAI NFs
  e2e/tests/oai/003.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Drop free5gc-packages repository reference
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Remove unused reference to catalog-workloads-oai repo
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Change repo name in 002-oai-operators.yaml
  e2e/tests/oai/002-oai-operators.yaml
Due: e2e-ubuntu-focal, e2e-fedora-34

Update repo in 004-ran-cucp.yaml
  e2e/tests/oai/004-ran-cucp.yaml
Due: e2e-ubuntu-focal, e2e-fedora-34

Update year in 004-ran-cucp.yaml
  e2e/tests/oai/004-ran-cucp.yaml
Due: e2e-ubuntu-focal, e2e-fedora-34

year update in 004.sh
  e2e/tests/oai/004.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update repo information in 004.sh
  e2e/tests/oai/004.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

update year in 005.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update repo in 005.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update the list of Nephio stocks repositories (#229)
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/README.md
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/README.md
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001.sh
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/003-upf.yaml
  e2e/tests/oai/003.sh
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

changes to deploy ran operator only in regional and edge cluster
  e2e/tests/oai/002-oai-operators.yaml
Due: e2e-ubuntu-focal, e2e-fedora-34

Corrections to package variant names
  e2e/tests/oai/002.sh
  test-infra_18jan_v1.diff
Due: e2e-ubuntu-focal, e2e-fedora-34

removing the file added by mistake
  test-infra_18jan_v1.diff
Due: none

Adding OAI RAN and UE test deployment scripts (#227)
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
  e2e/tests/oai/004-ran-cucp.yaml
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding go coverage reporting (#215)
  images/gotests/Dockerfile
  images/gotests/coverage.sh
Due: images-hadolint, build-push-image-gotests

Updating the location of files
  e2e/tests/oai/002.sh
  e2e/tests/oai/002.yaml
  e2e/tests/oai/003-upf.yaml
  e2e/tests/oai/003.sh
  e2e/tests/oai/003.yaml
  e2e/tests/oai/004.sh
  e2e/tests/oai/004.yaml
  e2e/tests/oai/006.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Renaming the files with some hints
  e2e/tests/oai/001-infra.sh
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-dependency.sh
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.sh
  e2e/tests/oai/006-end-to-end-call.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding ue yaml file
  e2e/tests/oai/002-dependency.sh
  e2e/tests/oai/005-ue.sh
  e2e/tests/oai/005-ue.yaml
Due: e2e-ubuntu-focal, e2e-fedora-34

Updating the location of files (#231)
  e2e/tests/oai/001-infra.sh
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-dependency.sh
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.sh
  e2e/tests/oai/005-ue.yaml
  e2e/tests/oai/006-end-to-end-call.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Increase e2e timeout to 120min
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Fix OAI test script formats
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Enable fail fast feature in Vagrant deployments
  e2e/provision/Vagrantfile
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Implement porch_wait_published_packagerev test function
  e2e/lib/porch.sh
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Increase waiting time for upf-edge0 deployment
  e2e/tests/free5gc/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Improve waiting time in 004.sh free5gc test
  e2e/tests/free5gc/004.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Reduce the CI time enabling failing fast feature
  .prow.yaml
  e2e/provision/init.sh
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Improve kpt info messages
  e2e/lib/kpt.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Drop nephio_pkg_version terraform variable
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: e2e-ubuntu-focal, e2e-fedora-34

Remove corrupted APT files
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Enable `fail fast` CI feature to reduce the End-to-End testing consumption (#230)
  .prow.yaml
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007.sh
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/005-ue.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, provision-linter, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Define NEPHIO_USER default user
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Improve HW reqs validation
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Condition the gtp5g kernel module creation
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Removing watcher-agent and nf-deploy-controler
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
