Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Updated init script to allow metadata override
  e2e/provision/gce_init.sh
  e2e/provision/gce_install_sandbox.sh
Due: e2e

rewording in README.md
  e2e/provision/README.md
Due: e2e

Update images/generic-autobumper/Dockerfile
  images/generic-autobumper/Dockerfile
Due: build-push-image-generic-autobumper

repalce crach check with a simple delay
  e2e/provision/hacks/resolve_secrets.sh
Due: e2e

Adding generic-autobumper image for prow updater (#74)
  .prow.yaml
  images/generic-autobumper/Dockerfile
Due: build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

Enabling MPL license in lichen conf
  images/gotests/lichen.yaml
Due: build-push-image-gotests

Add context section and collapse details
  e2e/provision/README.md
Due: e2e

Updated init script to allow metadata override (#82)
  e2e/provision/README.md
  e2e/provision/gce_init.sh
  e2e/provision/hacks/resolve_secrets.sh
Due: e2e

Update to resource-backend/v2
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: e2e

Add context section and collapse details (#85)
  e2e/provision/README.md
Due: e2e

Add resource backend config
  e2e/tests/003-network-topo.yaml
  e2e/tests/003.sh
Due: e2e

Add instructions to README
  e2e/provision/README.md
Due: e2e

Provide a default value for --reconcile-timeout kpt live apply flag
  e2e/provision/playbooks/roles/kpt/defaults/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Get cluster/VM info after provisioning failure
  e2e/provision/gce_install_sandbox.sh
Due: e2e

Fix bash scripts format
  e2e/e2e.sh
  e2e/launch.sh
  e2e/lib/k8s.sh
  e2e/lib/testing.sh
  e2e/provision/bash_config.sh
  e2e/provision/gce_init.sh
  e2e/provision/gce_install_sandbox.sh
  e2e/provision/hacks/resolve_secrets.sh
  e2e/tests/000.sh
  e2e/tests/001.sh
  e2e/tests/002.sh
  e2e/tests/003.sh
  e2e/tests/004.sh
  e2e/tests/005.sh
  e2e/tests/006.sh
  e2e/tests/007.sh
Due: e2e

Provide default reconcile timeout value (#91)
  e2e/provision/gce_install_sandbox.sh
  e2e/provision/playbooks/roles/kpt/defaults/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Fix bash scripts format (#92)
  e2e/e2e.sh
  e2e/launch.sh
  e2e/lib/k8s.sh
  e2e/lib/testing.sh
  e2e/provision/bash_config.sh
  e2e/provision/gce_init.sh
  e2e/provision/gce_install_sandbox.sh
  e2e/provision/hacks/resolve_secrets.sh
  e2e/tests/000.sh
  e2e/tests/001.sh
  e2e/tests/002.sh
  e2e/tests/003.sh
  e2e/tests/004.sh
  e2e/tests/005.sh
  e2e/tests/006.sh
  e2e/tests/007.sh
Due: e2e

Have the user deploy the network package
  e2e/provision/README.md
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/tests/003-network.yaml
Due: e2e

Add to automation
  e2e/tests/003.sh
Due: e2e

Make executable
  e2e/tests/000.sh
  e2e/tests/001.sh
  e2e/tests/002.sh
  e2e/tests/003.sh
  e2e/tests/004.sh
  e2e/tests/005.sh
  e2e/tests/006.sh
  e2e/tests/007.sh
Due: e2e

Fix missing timeout
  e2e/tests/003.sh
Due: e2e

Fix deployment name for operator
  e2e/tests/004.sh
Due: e2e

approval annotation goes on the package revision, not variant
  e2e/tests/003-network.yaml
Due: e2e

Minor corrections
  e2e/provision/README.md
Due: e2e

fixed paths for new context
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

fixed paths for new context (#96)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enabling MPL license in lichen conf (#88)
  images/gotests/lichen.yaml
Due: build-push-image-gotests

Minor corrections (#95)
  e2e/provision/README.md
Due: e2e

Remove gce_ prefix from *.sh scripts
  e2e/launch.sh
  e2e/provision/README.md
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/main.tf
Due: e2e

Fix e2e CI execution
  .prow.yaml
  e2e/terraform/main.tf
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Remove gce_* prefix (#97)
  .prow.yaml
  e2e/launch.sh
  e2e/provision/README.md
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/main.tf
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Fix lint issues
  e2e/provision/.ansible-lint
  e2e/provision/init.sh
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/free5gc.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/system-setup.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: e2e

Include tests folder in Vagrant instance
  e2e/provision/Vagrantfile
Due: e2e

Move docker permission set instruction
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: e2e

Implement --for-deployment kpt arg
  e2e/provision/playbooks/library/kpt.py
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Add workdir in kpt role
  e2e/provision/playbooks/library/kpt.py
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/wait_deployments.yml
Due: e2e

Fix install integration test
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: e2e

Install python pkgs without virtualenv
  e2e/provision/install_sandbox.sh
Due: e2e
