Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Downgrading kubernetes.core ansible collection once again
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update catalog repo branch from main to v3.0.0
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Switching location for tests
  e2e/terraform/modules/gcp/variables.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing automated signing
  images/releaser/release.sh
Due: images-hadolint, build-push-image-releaser

Removing few main references
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adjusting revision in defaultswq
  e2e/defaults.env
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adjusting vm.mmap_rnd_bits for kernel 6.5
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Package revision fix from Liam
  e2e/defaults.env
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing sandbox unbound variable error
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing uearansim version
  e2e/tests/free5gc/007-edge01-ueransim.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Default package revision to v1
  e2e/defaults.env
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing sandbox unbound variable error (#286)
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adding origin prefix to package version
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Increasing timeout for CU-CP
  e2e/tests/oai/004-ran-network.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Increasing timeouts to 1800
  e2e/tests/oai/004-ran-network.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Switching e2e tests to v3.0.0 (#282)
  e2e/defaults.env
  e2e/provision/galaxy-requirements.yml
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/free5gc/007.sh
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.sh
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing automated signing (#284)
  images/releaser/release.sh
Due: images-hadolint, build-push-image-releaser

Add flags to allow single e2e tests to run
  e2e/e2e.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add flags to allow single e2e tests to run (#285)
  e2e/e2e.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Switching back to main
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update cluster.yml
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing image autosign - prow part
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing image autosign - prow part (#288)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Removing invalidcommitmsg plugin
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Removing invalidcommitmsg plugin (#289)
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Switching back to main (#287)
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrading lichen to version with better license detection
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Upgrading lichen to version with better license detection (#290)
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Increased waiting time to sign image for longer builds than 10 minutes, fixes for test-infra image signing
  .prow.yaml
  images/releaser/release.sh
Due: images-hadolint, build-push-image-releaser, presubmit-test-infra-inrepoconfig-validation

Increased waiting time to sign image for longer builds than 10 minutes, fixes for test-infra image signing (#291)
  .prow.yaml
  images/releaser/release.sh
Due: images-hadolint, build-push-image-releaser, presubmit-test-infra-inrepoconfig-validation

Bumping curl version
  images/releaser/Dockerfile
Due: images-hadolint, build-push-image-releaser

Bumping curl version (#292)
  images/releaser/Dockerfile
Due: images-hadolint, build-push-image-releaser

Set explicit inventory parameters while calling 'kpt live init' on the porch package
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Set explicit inventory parameters while calling 'kpt live init' on the porch package (#293)
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move the delete step to create block
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Apply suggestions from code review
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-RedHat.yaml
  e2e/provision/vars/kubeadm.yaml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Refactor to k8s module
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fully qualified module for linter
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Delete a Dockerhub secret before attempting to create on during init (#294)
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34
