Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Use unambiguous resource for CAPI cluster objects
  e2e/tests/001.sh
  e2e/tests/002.sh
Due: e2e

Use unambiguous resource for CAPI cluster objects (#153)
  e2e/tests/001.sh
  e2e/tests/002.sh
Due: e2e

Adding ueransim-deploy-fn
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding ueransim-deploy-fn (#154)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Just trigger a CI run
  e2e/foo.txt
Due: e2e

Enable ansible global configuration
  e2e/provision/ansible.cfg
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: e2e

Run e2e tests in parallel batches
  e2e/e2e.sh
  e2e/lib/testing.sh
  e2e/test-tests/A-01.sh
  e2e/test-tests/A-02.sh
  e2e/test-tests/A-03.sh
  e2e/test-tests/A-04.sh
  e2e/test-tests/A-post.sh
  e2e/test-tests/B-01.sh
  e2e/test-tests/B-02.sh
  e2e/test-tests/C-01.sh
  e2e/test-tests/D-post.sh
  e2e/test-tests/README.md
  e2e/tests/A-001.sh
  e2e/tests/A-002.sh
  e2e/tests/A-post.sh
  e2e/tests/B-003.sh
  e2e/tests/B-004.sh
  e2e/tests/B-005.sh
  e2e/tests/B-006.sh
  e2e/tests/C-007.sh
  e2e/tests/D-008.sh
  e2e/tests/E-009.sh
Due: e2e

Fix inadvertent global var
  e2e/lib/testing.sh
Due: e2e

Only dump Porch logs if DEBUG
  e2e/lib/testing.sh
Due: e2e

Fix call to runuser
  e2e/provision/init.sh
Due: e2e

Allow parallel from gcloud
  e2e/e2e.sh
  e2e/provision/init.sh
Due: e2e

Make parallel by default so we see it in CI run
  e2e/e2e.sh
Due: e2e

Bump Kubernetes to v1.27.1 in management cluster (#152)
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: e2e

Update release.sh
  images/releaser/release.sh
Due: none

Add GitHub Issue and PR templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update vlan-interfaces.sh to indicate specific API
  e2e/provision/hacks/vlan-interfaces.sh
Due: e2e

Update images/releaser/Dockerfile
  images/releaser/Dockerfile
Due: none

Update images/releaser/release.sh
  images/releaser/release.sh
Due: none

Enable ansible global configuration (#156)
  e2e/provision/ansible.cfg
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: e2e

Add GitHub Issue and PR templates (#157)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update vlan-interfaces.sh to indicate specific API (#158)
  e2e/provision/hacks/vlan-interfaces.sh
Due: e2e

Releaser image (#134)
  .prow.yaml
  images/releaser/Dockerfile
  images/releaser/release.sh
Due: presubmit-test-infra-inrepoconfig-validation

Use non-ambigous value for cluster resources
  e2e/provision/hacks/inter-connect_workers.sh
Due: e2e

Use non-ambigous value for cluster resources (#159)
  e2e/provision/hacks/inter-connect_workers.sh
Due: e2e

Fix init.sh to work with a tag
  e2e/provision/init.sh
Due: e2e

Need to run git as NEPHIO_USER
  e2e/provision/init.sh
Due: e2e

Fix init.sh to work with a tag (#160)
  e2e/provision/init.sh
Due: e2e

Downgrade python test requirements
  e2e/provision/.ansible-lint
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/test-requirements.txt
Due: e2e

Move wait deployments process at end
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/wait_deployments.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Run some kpt apply tasks in pararell
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Enable devcontainers support
  .devcontainer.json
  e2e/provision/README.md
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
Due: e2e

Reduce RAM requirements
  .devcontainer.json
  e2e/provision/Vagrantfile
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: e2e

Implement parallelism in KPT Ansible tasks (#161)
  e2e/provision/.ansible-lint
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/wait_deployments.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/test-requirements.txt
Due: e2e

Clean up unused files
  e2e/provision/deploy_mk8s.yaml
  e2e/provision/playbooks/free5gc.yml
  e2e/provision/roles/deploy_mk8s/tasks/deploy_mk8s.yml
  e2e/provision/roles/deploy_mk8s/tasks/main.yaml
Due: e2e

Upgrade python dependencies
  e2e/provision/requirements.txt
Due: e2e

Bump Community General collection to 7.1.0
  e2e/provision/galaxy-requirements.yml
Due: e2e

Bump container lab to 0.42.0
  e2e/provision/playbooks/cluster.yml
Due: e2e

Bump Ansible CNI role to 2.3.0
  e2e/provision/galaxy-requirements.yml
Due: e2e
