Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Adding inital O2IMS e2e test:
  e2e/tests/o2ims-operator/001-sample-provisioning-request.yaml
  e2e/tests/o2ims-operator/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

O2 IMS Operator release image build (#322)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update for Catalog packages:
  e2e/tests/o2ims-operator/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Rename o2ims, add o2ims entries to pprow
  .prow.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/o2ims/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Add release job for focom oper image
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add release job for focom oper image (#324)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Removing reference to Sagar's image, using nephio published o2ims-operator
  e2e/tests/o2ims/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

O2IMS e2e Test (#323)
  .prow.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/o2ims/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fixing image build paths for new operators
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing image build paths for new operators (#325)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Quick fix for prow syntax in operators build
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Quick fix operators (#326)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Another path fix as this pods dont have repo mounted
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Another operator fix (#327)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Switching test-infra to v4.0.0
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Changing OAI versioning to more concise
  e2e/defaults.env
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Testing double revision in catalog
  e2e/defaults.env
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Reverting changes in defaults.env to v4.0.0
  e2e/defaults.env
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Switching test-infra to v4.0.0 (#328)
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert "Switching test-infra to v4.0.0 (#328)"
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert "Switching test-infra to v4.0.0 (#328)" (#329)
  e2e/defaults.env
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Enable docker private registry to minimize network consumption
  e2e/e2e.sh
  e2e/lib/capi.sh
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/create-local_registry.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Bump docker-registry-proxy version to 0.6.5
  e2e/provision/playbooks/roles/bootstrap/tasks/create-local_registry.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

add missing license headers
  images/e2e/Dockerfile
  images/generic-autobumper/Dockerfile
  images/gotests/Dockerfile
  images/gotests/checklicense.sh
  images/label_sync/Dockerfile
  images/linter/Dockerfile
  images/molecule/Dockerfile
  images/releaser/Dockerfile
  tools/release/tag-catalog-packages.sh
Due: images-hadolint, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule

add missing license headers (#330)
  images/e2e/Dockerfile
  images/generic-autobumper/Dockerfile
  images/gotests/Dockerfile
  images/gotests/checklicense.sh
  images/label_sync/Dockerfile
  images/linter/Dockerfile
  images/molecule/Dockerfile
  images/releaser/Dockerfile
  tools/release/tag-catalog-packages.sh
Due: images-hadolint, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule

Bump gotest image versions
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Upgrade Go base image to 1.23.8 for gotests to support Porch Go version bump
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Bump gotest image versions (#334)
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Add tide config to automatically squash merged PRs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add tide config to automatically squash merged PRs (#336)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fix tox provision-linter
  e2e/.gitignore
  e2e/provision/tox.ini
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Bump linux versions
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Change revisions to numbers
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Allow script to approve Proposed PRs
  e2e/defaults.env
  e2e/lib/porch.sh
  e2e/tests/flux/001.sh
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/007.sh
  e2e/tests/o2ims/001.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/005-ue.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add link to documentation in README
  README.md
Due: none

Update 001-sample-provisioning-request.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update template version to main palceholder for o2IMS
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert changes to main branch
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update OAI to check for PV PR creation
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004a-ran-network.sh
  e2e/tests/oai/004b-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
