Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Fix one-liner bash Sandbox install (#232)
  e2e/provision/init.sh
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Removing watcher-agent and nf-deploy-controler (#233)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enable OAI periodic End-to-End execution
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Separating metal-lb ip-address pool definition
  e2e/tests/oai/001-infra-metal-lb.sh
  e2e/tests/oai/001-infra.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Renaming the infra tests
  e2e/tests/oai/001-infra-metal-lb.sh
  e2e/tests/oai/001-infra.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

renaming the script name for tests
  e2e/tests/oai/001a-infra.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding back cluster definition in infra script
  e2e/tests/oai/001a-infra.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

adding latest tag to per commit image builds
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

fixing cron
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

adding latest tag to per commit image builds (#236)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update schedule timeframe
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enable periodic task execution for OAI End-to-End testing (#234)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update doc references
  e2e/provision/README.md
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Separating metal-lb ip-address pool definition (#235)
  e2e/tests/oai/001a-infra.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding porch release images builds
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing indent
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing indent again
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing indent yet again
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding porch release images builds (#238)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Reducing image build req resources
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Reducing image build req resources (#239)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update doc references (#237)
  e2e/provision/README.md
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Update references to v2.0.0 revision
  e2e/defaults.env
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Update references to v2.0.0 revision (#240)
  e2e/defaults.env
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/004-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Adding a label for stock repos to be visible in external blueprints
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Adding a label for stock repos to be visible in external blueprints (#241)
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Adding release automation script
  tools/release/config.json
  tools/release/kraken.py
  tools/release/requirements.txt
  tools/release/util.py
Due: none

Adding release automation script (#242)
  tools/release/config.json
  tools/release/kraken.py
  tools/release/requirements.txt
  tools/release/util.py
Due: none

Add porchctl bin to sandbox install
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add porchctl bin to sandbox install (#243)
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Update kpt alpha to use porchctl
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update kpt alpha to use porchctl (#244)
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Add tag-catalog-packages release tool
  tools/release/tag-catalog-packages.sh
Due: none

Fix for latest tag in commit image builds
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fix for latest tag in commit image builds (#245)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Remove ones-22 config
  .prow.yaml
  e2e/README.md
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix prow job config
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Remove nephio.yaml from terraform
  e2e/terraform/modules/gcp/main.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-ubuntu-focal, e2e-fedora-34

Remove ones-22 config (#246)
  .prow.yaml
  e2e/README.md
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/modules/gcp/main.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, provision-linter, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Reduce log entries
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
