Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Update weekly jobs to run at 2am (#358)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Remove git branch log assertions
  e2e/tests/argocd/001.sh
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove git branch log assertions (#359)
  e2e/tests/argocd/001.sh
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add custom change to R5 branch
  e2e/defaults.env
  e2e/provision/inventory.ini
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add custom change to R5 branch (#360)
  e2e/defaults.env
  e2e/provision/inventory.ini
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix packer build error
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix packer build error (#361)
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add retry to porchctl push
  e2e/tests/free5gc/008.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade gtp5g kernel mod to 0.9.15
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Trigger free5gc runs
  e2e/tests/free5gc/008.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix provlinter job
  e2e/provision/tox.ini
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade gtp5g kernel mod to 0.9.15 (#363)
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/tox.ini
  e2e/tests/free5gc/008.sh
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove porch build jobs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Clean up missed job confg
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Remove porch build jobs (#364)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Bitnami changes on catalog pkgs
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Trigger free5gc e2e with latest nephio images
  e2e/tests/free5gc/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

migrate kpt binary to kptdev organization
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

migrate kpt binary to kptdev organization (#367)
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

migrate KRM functions to ghcr.io registry
  e2e/tests/argocd/001.sh
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/008.sh
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

migrate KRM functions to ghcr.io registry (#368)
  e2e/tests/argocd/001.sh
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/008.sh
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update documentation for kptdev migration
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/kpt/README.md
  e2e/provision/playbooks/roles/upgrade/README.md
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update documentation for kptdev migration (#369)
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/kpt/README.md
  e2e/provision/playbooks/roles/upgrade/README.md
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade docker version
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Run free5gc suite
  e2e/tests/free5gc/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Swap docker ansible role
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Replace ansible docker_engine with new role
  e2e/provision/.ansible-lint
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/kpt/README.md
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/README.md
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade srlinux version to 25.10
  e2e/tests/free5gc/clab-topo.gotmpl
  e2e/tests/oai/clab-topo.gotmpl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Bump clab to v0.54.0
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade docker version
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/upgrade-docker.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Pin docker version
  e2e/provision/playbooks/roles/bootstrap/tasks/upgrade-docker.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix for Ubuntu Jammy
  e2e/provision/playbooks/roles/bootstrap/tasks/upgrade-docker.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert docker upgrade
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/upgrade-docker.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgade clab to 0.60.0
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade gtp5g version
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix clab docker pull failure
  e2e/provision/playbooks/cluster.yml
  e2e/tests/free5gc/001.sh
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Set UPF PV to always approve
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix clab docker pull failure (#371)
  e2e/provision/playbooks/cluster.yml
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Run e2e against new catalog pkgs
  e2e/tests/argocd/001.sh
  e2e/tests/flux/001.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/oai/001a-infra.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Debug OCloud controller pods
  e2e/lib/_utils.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
