Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

e2e:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'cd e2e/terraform && terraform init && terraform plan && \
  
        terraform apply -auto-approve; terraform destroy -auto-approve
  
        '
      volumeMounts:
      - name: satoken
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-e2e:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/e2e \\\n  --dockerfile=Dockerfile --destination=nephio/e2e:${BUILD_ID} \\\n  --destination=nephio/e2e:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

build-push-image-generic-autobumper:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

presubmit-test-infra-inrepoconfig-validation:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=../test-infra/prow/config/plugins.yaml
      - --config-path=../test-infra/prow/config/config.yaml
  ...

Reduce delay time since fixes make them unnecessary
  e2e/tests/005-regional-free5gc-amf.yaml
  e2e/tests/005-regional-free5gc-smf.yaml
  e2e/tests/006-edge-free5gc-upf.yaml
Due: e2e

Add reconcile timeout flag to non-ansible instructions
  e2e/provision/hacks/resolve_secrets.sh
  e2e/provision/install_sandbox.sh
Due: e2e

add CLA plugin
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Updated README.md for VM installs
  e2e/provision/README.md
Due: e2e

add CLA plugin (#102)
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Fix typos and rephrase
  e2e/provision/README.md
Due: e2e

standardize Ububtu flavour and OS
  e2e/provision/README.md
Due: e2e

Fix descriptions and rephrasing
  e2e/provision/README.md
Due: e2e

Add clab to interconnect clusters
  .gitignore
  e2e/provision/README.md
  e2e/provision/playbooks/cluster.yml
  e2e/tests/002-topo.gotmpl
  e2e/tests/002.sh
Due: e2e

Install python pkgs without virtualenv
  e2e/provision/install_sandbox.sh
Due: e2e

008.sh UPF Scaling addressing comments
  e2e/tests/008.sh
Due: e2e

addressing formatting
  e2e/tests/008.sh
Due: e2e

Updated README.md for VM installs (#103)
  e2e/provision/README.md
Due: e2e

Install python pkgs without virtualenv (#104)
  e2e/provision/install_sandbox.sh
Due: e2e

Import gtp5g instructions to ansible
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/bootstrap/tasks/load-gtp5g-module.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-20.yml
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-22.yml
Due: e2e

Create repository settings
  .gitattributes
Due: none

Import gtp5g instructions to ansible (#98)
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/bootstrap/tasks/load-gtp5g-module.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-20.yml
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-22.yml
Due: e2e

Use init.sh in Vagrantfile
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: e2e

Use init.sh in Terraform
  e2e/terraform/main.tf
Due: e2e

Add workdir in kpt role
  e2e/provision/playbooks/library/kpt.py
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/wait_deployments.yml
Due: e2e

Implement --for-deployment kpt arg
  e2e/provision/playbooks/library/kpt.py
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: e2e

Fix deployment names and namespaces for AMF, SMF
  e2e/tests/005.sh
Due: e2e

Fix deployment names and namespaces for AMF, SMF (#108)
  e2e/tests/005.sh
Due: e2e

Import kpt bash instructions in Ansible
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
Due: e2e

Import kpt bash instructions in Ansible (#109)
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/library/kpt.py
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/wait_deployments.yml
Due: e2e

Force docker ansible handlers
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: e2e

Force docker ansible handlers (#110)
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: e2e

Increase timeout to 1hr
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Increase the number of vCPUs to 16
  e2e/terraform/variables.tf
Due: e2e

Fixed Dockerfile name for nad-fn
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixed Dockerfile name for nad-fn (#112)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Create repository settings (#107)
  .gitattributes
Due: none

moving lichen scan logic to script
  images/gotests/lichen.sh
Due: build-push-image-gotests

Update Dockerfile
  images/gotests/Dockerfile
Due: build-push-image-gotests

Bump andrewrothstein.kpt version to 0.0.3
  e2e/provision/galaxy-requirements.yml
Due: e2e

Bump andrewrothstein.kpt version to 0.0.3 (#114)
  e2e/provision/galaxy-requirements.yml
Due: e2e

Use init.sh bash script as main starting point (#93)
  .prow.yaml
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/terraform/main.tf
  e2e/terraform/variables.tf
Due: e2e, presubmit-test-infra-inrepoconfig-validation

Add execution permissions to bash scripts
  e2e/lib/k8s.sh
  e2e/lib/testing.sh
  e2e/tests/008.sh
Due: e2e

Improve cluster interconnect template
  e2e/tests/002-topo.gotmpl
Due: e2e

Improve wait process for edge cluster creation
  e2e/tests/002.sh
Due: e2e

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
