Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Fix failing jobs (#339)
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Add packer presubmit job and tidy
  .prow.yaml
  e2e/packer/gcp/presubmit.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Update packer file path
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Update packer file path again
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Clean up .pkr files and jobs
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  e2e/packer/gcp/presubmit.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix image naming error
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert source_image var list
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Lowercase PULL_NUM
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Lowercase PULL_NUM for sh
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Remove old base OS versions
  e2e/launch.sh
  e2e/provision/Vagrantfile
  e2e/provision/distros_supported.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/molecule.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add task to install pip on Fedora
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move fedora pip install task
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove ubuntu 20 bootstrap vars
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-20.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add packer presubmit job and tidy (#340)
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix provision linter job
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update kpt version
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Wait for ssh ready
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add timestamp to linter job
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Remove fedora38 from bootstrap integration
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add a scenario to install ci
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Rename install ci scenario
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert timestamp log on linter job
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Fix linting ci
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove install ci scenarios
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Refactor ubuntu packer image builds
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix image name sanitization
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix upload dest path
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix VERSION file path
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

adds support for installing CAPI metal3 components
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/apply-pkgs-nonkind-k8s.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Force overwrite on packer pre-submit
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Remove old base OS versions (#341)
  e2e/launch.sh
  e2e/provision/Vagrantfile
  e2e/provision/distros_supported.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/bootstrap/vars/ubuntu-20.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/kpt/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Refactor ubuntu packer image builds (#342)
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Add ubuntu packer e2e job
  .prow.yaml
  e2e/terraform/main.tf
  e2e/terraform/modules/latest-packer-image/main.tf
  e2e/terraform/modules/latest-packer-image/output.tf
  e2e/terraform/modules/latest-packer-image/variables.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Update image lookup filter
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update invalid var name
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update image filter again
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add wait for sandbox k8s to be ready
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move k8s ready check
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add wait for sandbox repos ready
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Wrap bash in heredoc
  e2e/terraform/modules/latest-packer-image/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34
