Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Implement FAIL_FAST option in e2e execution
  e2e/e2e.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Improve HW minimal requirements validation
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix ANSIBLE_CMD_EXTRA_VAR_LIST environment variable (#220)
  e2e/e2e.sh
  e2e/lib/kpt.sh
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Add catalog into the nephio_stock_repos list
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Rename network topology template file
  e2e/provision/hacks/network-topo.sh
  e2e/tests/free5gc/network-topo.tmpl
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Rename clab network topology
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/network-topo.sh
  e2e/tests/free5gc/clab-topo.gotmpl
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Expose E2ETYPE vagrant variable
  e2e/provision/Vagrantfile
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add first OAI e2e test
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001-secret.yaml
  e2e/tests/oai/001.sh
  e2e/tests/oai/clab-topo.gotmpl
  e2e/tests/oai/network-topo.tmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Enable terraform scripts
  e2e/provision/distros_supported.yml
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Enable OAI prow CI jobs
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Add oai-packages repo into nephio_stock_repos
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Include customized IPAddressPools for cluster workloads
  e2e/tests/oai/001.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Enable OAI infrastructure (#219)
  .prow.yaml
  e2e/provision/Vagrantfile
  e2e/provision/distros_supported.yml
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/terraform/main.tf
  e2e/terraform/modules/gcp/main.tf
  e2e/terraform/modules/gcp/variables.tf
  e2e/tests/free5gc/clab-topo.gotmpl
  e2e/tests/free5gc/network-topo.tmpl
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/001-secret.yaml
  e2e/tests/oai/001.sh
  e2e/tests/oai/clab-topo.gotmpl
  e2e/tests/oai/network-topo.tmpl
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix bash format
  e2e/e2e.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Enable multiple VMs Vagrant provisioning
  e2e/provision/Vagrantfile
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add second OAI e2e test
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Enable 002 OAI End-to-End test (#221)
  e2e/e2e.sh
  e2e/provision/Vagrantfile
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Prow upgrade to latest images
  prow/cluster/01-config-generic.yaml
  prow/cluster/crier.yaml
  prow/cluster/deck.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook.yaml
  prow/cluster/horologium.yaml
  prow/cluster/prow-controller-manager.yaml
  prow/cluster/sinker.yaml
  prow/cluster/statusreconciler.yaml
  prow/cluster/tide.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update images/gotests/coverage.sh
  images/gotests/coverage.sh
Due: images-hadolint, build-push-image-gotests

Fix clab network name
  e2e/tests/oai/clab-topo.gotmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Add networkinstance wait process
  e2e/tests/free5gc/002.sh
  e2e/tests/oai/001.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Small improvements on e2e scripts (#223)
  e2e/tests/free5gc/002.sh
  e2e/tests/oai/001.sh
  e2e/tests/oai/clab-topo.gotmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Increase timeout for waiting workload clusters
  e2e/tests/oai/001.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Deploy OAI operators into core cluster
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Fix OAI Networking Topology
  e2e/tests/oai/clab-topo.gotmpl
  e2e/tests/oai/network-topo.tmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Add OAI Core NFs deployment script
  e2e/tests/oai/003-upf.yaml
  e2e/tests/oai/003.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Initial End-to-End script for OAI Core NF deployment (#224)
  e2e/tests/oai/001.sh
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
  e2e/tests/oai/003-upf.yaml
  e2e/tests/oai/003.sh
  e2e/tests/oai/network-topo.tmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Adjust OAI network topology
  e2e/tests/oai/network-topo.tmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Add a wait for PFCP session function
  e2e/tests/oai/003.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Fix OAI topology (#225)
  e2e/tests/oai/003.sh
  e2e/tests/oai/network-topo.tmpl
Due: e2e-ubuntu-focal, e2e-fedora-34

Add 004 OAI e2e test script
  e2e/tests/oai/004.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Changes to add ue and ran deployment scripts
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

changes to repo register and name corrections
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

changes to file permissions
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Some OAI RAN fixes
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/002.sh
  e2e/tests/oai/004-ran-cucp.yaml
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Enabling porch repo presubmit CI jobs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enabling porch repo presubmit CI jobs (#228)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

remove private catalog repository reference
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Changes to correct scripts to work on different setups
  e2e/tests/oai/003.sh
  e2e/tests/oai/004.sh
  e2e/tests/oai/005.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update Nephio stocks repositories
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-oai-operators.yaml
  e2e/tests/oai/003-upf.yaml
  e2e/tests/oai/003.sh
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34
