Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/

Drop unused assertion
  e2e/lib/_assertions.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Simplify kubectl logs instruction
  e2e/tests/oai/001a-infra.sh
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/005-ue.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Fix shell format
  e2e/provision/install_sandbox.sh
  images/gotests/coverage.sh
  tools/release/tag-catalog-packages.sh
Due: provision-linter, images-hadolint, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests

Improve kubeconfig files creation
  e2e/lib/k8s.sh
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add porch logs
  e2e/lib/kpt.sh
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Delete porch_wait_log_entry function
  e2e/lib/porch.sh
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Remove unnecessary porch waiting entries
  e2e/tests/free5gc/001.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Change dependency order for OAI SMF NF
  e2e/tests/oai/003-core-network.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Use kubectl wait instruction for checking packagerev lifecycles
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Ignore Normal events in logs
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Change dependency order in OAI RAN NFs
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004-ran-network.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Propagate kpt_wait_pkg timeout value to _wait_for_user_repo func
  e2e/lib/kpt.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Wait for nfdeployment resources
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004-ran-network.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Refactor OAI waiting RAN functions
  e2e/tests/oai/004-ran-network.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Fix jsonpath in porch_wait_published_packagerev function
  e2e/lib/porch.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Improve logging process (#247)
  e2e/lib/_assertions.sh
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006.sh
  e2e/tests/oai/001a-infra.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/oai/003-core-network.sh
  e2e/tests/oai/004-ran-network.sh
  e2e/tests/oai/005-ue.sh
  images/gotests/coverage.sh
  tools/release/tag-catalog-packages.sh
Due: provision-linter, images-hadolint, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests

Adding packer to build Nephio pre-baked image
  .github/workflows/nephio-packer-gcp.yaml
  e2e/packer/gcp/nephio-packer.pkr.hcl
  e2e/packer/gcp/varibles.pkrvars.hcl
  e2e/terraform/main.tf
  e2e/terraform/modules/gh_action_resource/main.tf
  e2e/terraform/modules/gh_action_resource/output.tf
  e2e/terraform/modules/gh_action_resource/provider.tf
  e2e/terraform/modules/gh_action_resource/variables.tf
Due: e2e-ubuntu-focal, e2e-fedora-34

Initial prebake image attempt
  .github/workflows/nephio-packer-gcp.yaml
  e2e/packer/gcp/main.pkr.hcl
  e2e/packer/gcp/nephio-packer.pkr.hcl
  e2e/packer/gcp/varibles.pkrvars.hcl
  e2e/terraform/main.tf
  e2e/terraform/modules/gh_action_resource/main.tf
  e2e/terraform/modules/gh_action_resource/output.tf
  e2e/terraform/modules/gh_action_resource/provider.tf
  e2e/terraform/modules/gh_action_resource/variables.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-ubuntu-focal, e2e-fedora-34

Add checks for passwordless sudo of current user and NEPHIO_USER
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add checks for root user running init and non root user for NEPHIO_USER
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Local and Nephio User Validation (#249)
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

add support for OAI e2e tests for fedora34
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Dependabot config genertor
  tools/dependabot/generate_dependabot.py
Due: none

authentication for prow job
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding packer to build Nephio pre-baked image (#248)
  e2e/packer/gcp/main.pkr.hcl
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-ubuntu-focal, e2e-fedora-34

Adding missing license header
  tools/dependabot/generate_dependabot.py
Due: none

remove metallb ip-address pool from edge and regional cluster
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Removing clusters declaration and replacing with only core cluster
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding additional tests for node readiness
  e2e/tests/oai/001a-infra.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Remove metallb ip-address pool from edge and regional cluster (#253)
  e2e/tests/oai/001a-infra.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Update tools/dependabot/generate_dependabot.py
  tools/dependabot/generate_dependabot.py
Due: none

Dependabot config generator (#252)
  tools/dependabot/generate_dependabot.py
Due: none

Drop DEPLOYMENT_TYPE environment variable
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Upgrade python requirements
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Remove unnecessary nephio.yaml file?
  e2e/provision/nephio.yaml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Upgrade python test-requirements
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Upgrade Ansible galaxy deps
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add docker stats on failure
  e2e/provision/init.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Upgrade mgmt cluster to v1.29.2
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/upgrade/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, kpt-integration, e2e-ubuntu-focal, e2e-fedora-34
