Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, presubmit-test-inrepoconfig-validate-job

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  presubmit-test-inrepoconfig-validate-job: any of: .prow.yaml|.prow/

plugins cleanup, added invalidcommitmsg and needs-rebase plugins
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

added sample Dockerfile for gotest
  images/gotests/Dockerfile
Due: none

Adding more repositories to prow config
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing job long names
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update .prow.yaml
  .prow.yaml
Due: presubmit-test-inrepoconfig-validate-job

test-infra inrepoconfig fix
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update Dockerfile
  images/gotests/Dockerfile
Due: none

adding license header checker
  images/gotests/Dockerfile
  images/gotests/checklicense.sh
Due: none

Update OWNERS
  OWNERS
Due: none

adding E2E testing infrastructure
  .prow.yaml
  e2e/.gitignore
  e2e/README.md
  e2e/provision/ansible.cfg
  e2e/provision/deploy_mk8s.yaml
  e2e/provision/gce_run.sh
  e2e/provision/hosts.ini
  e2e/provision/roles/deploy_mk8s/tasks/deploy_mk8s.yml
  e2e/provision/roles/deploy_mk8s/tasks/main.yaml
  e2e/provision/vars/defaults.yaml
  e2e/terraform/main.tf
  e2e/terraform/variables.tf
  images/e2e/Dockerfile
Due: presubmit-test-inrepoconfig-validate-job

adding output with IP address, removed VPC network dependency
  e2e/terraform/main.tf
  e2e/terraform/output.tf
Due: none

Update config.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update Dockerfile
  images/e2e/Dockerfile
Due: none

Update hosts.ini
  e2e/provision/hosts.ini
Due: none

Update deploy_mk8s.yaml
  e2e/provision/deploy_mk8s.yaml
Due: none

enable retitle plugin
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

disable auto approve
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Create E2E_instance.txt
  E2E_instance.txt
Due: none

e2e job that runs One Summit demo nephio install
  .prow.yaml
  e2e/README.md
  e2e/provision/gce_run.sh
  e2e/terraform/main.tf
  e2e/terraform/variables.tf
Due: presubmit-test-inrepoconfig-validate-job

Enable override plugin
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

change merge method to squash on core repos
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Image building and pushing for free5gc-operator
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Moved gotests to debian based image, added controller-gen, helpgen and type-scaffold
  images/gotests/Dockerfile
Due: none

Improve python package installation
  e2e/provision/gce_run.sh
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
Due: none

Collect galaxy requirements in a file
  e2e/provision/galaxy-requirements.yml
  e2e/provision/gce_run.sh
Due: none

Refactor gce_run.sh script
  e2e/provision/gce_run.sh
Due: none

Add minimal config file for one-summit-22-workshop
  e2e/provision/nephio.yaml
Due: none

Change Ubuntu Release to Focal
  e2e/provision/gce_run.sh
  e2e/terraform/main.tf
Due: none

Enable shell formatter
  Makefile
  images/gotests/checklicense.sh
Due: none

Enable Vagrant support
  .gitignore
  e2e/provision/Vagrantfile
Due: none

Enable Vagrant support (#29)
  .gitignore
  Makefile
  e2e/provision/Vagrantfile
  e2e/provision/galaxy-requirements.yml
  e2e/provision/gce_run.sh
  e2e/provision/nephio.yaml
  e2e/provision/requirements.in
  e2e/provision/requirements.txt
  e2e/terraform/main.tf
  images/gotests/checklicense.sh
Due: none

Moved gotests to debian based image, added controller-gen, helpgen and type-scaffold (#28)
  images/gotests/Dockerfile
Due: none

Image building and pushing for free5gc-operator (#27)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update gce_run.sh
  e2e/provision/gce_run.sh
Due: none
