Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Upgrade gtp5g linux kernel module
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update template version to main palceholder for o2IMS
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Updated tests for new int revisions
  e2e/defaults.env
  e2e/lib/capi.sh
  e2e/lib/porch.sh
  e2e/tests/o2ims/001.sh
  images/gotests/coverage.sh
Due: images-hadolint, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests

Add heading to e2e README
  e2e/README.md
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Bump linux versions
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Update main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Use workspace name rather than revision for PR lookup
  e2e/tests/flux/002.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert changes to main branch
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Change revisions to numbers
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update revisions on tests
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/oai/001-infra.yaml
  e2e/tests/oai/001-network.yaml
  e2e/tests/oai/002-database.yaml
  e2e/tests/oai/002-operators.yaml
  e2e/tests/oai/003-core-network.yaml
  e2e/tests/oai/004a-ran-network.yaml
  e2e/tests/oai/004b-ran-network.yaml
  e2e/tests/oai/005-ue.yaml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update revisions on tests
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Only force approve after a PR is proposed for 3 minutes
  e2e/lib/porch.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert approval of packages
  e2e/lib/porch.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Force approve packages that are stuck in Proposed
  e2e/lib/porch.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

fix free5gc test on Prow
  e2e/lib/porch.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

fix free5gc test on Prow
  e2e/lib/porch.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

fix free5gc test on Prow
  .prow.yaml
  e2e/terraform/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

fix free5gc test on Prow
  .prow.yaml
  e2e/terraform/main.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

fix free5gc test on Prow
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

adds support for installing CAPI metal3 components
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/apply-pkgs-nonkind-k8s.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Force PRs stuck in Proposed back to Draft
  e2e/lib/porch.sh
  e2e/tests/free5gc/008.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove doouble pull on package revision
  e2e/tests/free5gc/008.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Refine run_if_changed trigger for e2e runs
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Refine run_if_changed trigger for e2e runs (#338)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Add ocloud e2e suite
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update ocloud prow jobs
  .prow.yaml
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/o2ims/001.sh
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
  e2e/tests/ocloud/001.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Fix focom deployment lookup
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix fedora disk resize error
  e2e/terraform/modules/gcp/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove /root from terraform disk lookup
  e2e/terraform/modules/gcp/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix disk resize script again
  e2e/terraform/modules/gcp/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update FocomProvReq name
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add ocloud e2e (#331)
  .prow.yaml
  e2e/terraform/modules/gcp/main.tf
  e2e/tests/o2ims/001-sample-provisioning-request.yaml
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
  e2e/tests/ocloud/001.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Move free5gc ubuntu daily to jammy
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Convert daily jobs to run at 3am
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Move packer job to use ubuntu 22.04
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update packer jobs
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
