Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Add wait for ready to pkr setup
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

update management cluster
  e2e/provision/playbooks/roles/bootstrap/tasks/create-mgmt.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move ubuntu periodic jobs to use packer image
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Move ubuntu e2e jobs to use packer image (#343)
  .prow.yaml
  e2e/packer/gcp/main.pkr.hcl
  e2e/terraform/main.tf
  e2e/terraform/modules/latest-packer-image/main.tf
  e2e/terraform/modules/latest-packer-image/output.tf
  e2e/terraform/modules/latest-packer-image/variables.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Move kubeadm jobs to weekly
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Apply DRY principles to some jobs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add wait_timeout for mgmt-* Repos to be ready
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Trigger ocloud job
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Revert kubeam daily to use gcp ubuntu
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Move kubeadm jobs to weekly (#345)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add wait_timeout for mgmt-* Repos to be ready (#346)
  e2e/provision/playbooks/cluster.yml
  e2e/tests/ocloud/001-focom-provisioning-request.yaml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

adds support for installing CAPI metal3 components (#333)
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/apply-pkgs-nonkind-k8s.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move ubuntu e2e jobs back to use packer image
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Remove kubeadm from using packer image
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fix porch commit msg assertions flux
  e2e/tests/flux/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix porch commit msg assertions flux (#349)
  e2e/tests/flux/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix ubuntu e2e jobs to use packer (#348)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fixing all porch commit assertions
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add argocd install to sandbox
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fixing all porch commit assertions (#350)
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/oai/001b-infra-metal-lb.sh
  e2e/tests/ocloud/001.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add argo kpt cmp image release jobs
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Add retries to wait for deployment task
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Check for Available true
  e2e/provision/playbooks/roles/install/tasks/wait_deployments.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add larger disk to install-int image
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add disk as part of prepare
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Readd extra disk and modify prepare
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Restore existing perpare tasks
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix kpt prepare
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add argo kpt cmp image release jobs (#352)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Fix linting errors
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix resize root disk logic
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Move disk instruction
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix linting errs
  e2e/provision/playbooks/roles/kpt/molecule/default/prepare.yml
Due: provision-linter, kpt-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade molecule versions
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade ansible versions
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade test-requirements
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade ansibke.posix collection
  e2e/provision/galaxy-requirements.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
