Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-free5gc-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-free5gc-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

e2e-oai-ubuntu-jammy:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:latest
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd "$(git rev-parse --show-toplevel)/e2e/terraform"; trap ''terraform destroy -target module.gcp-ubuntu-jammy -auto-approve'' EXIT;
  
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Changing relative dir to playbook_dir
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add logging for pkg condtions in 009
  e2e/tests/free5gc/009.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Change timestamp path to writable (#309)
  e2e/packer/gcp/main.pkr.hcl
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Provide fallback location for ARTIFACTS var
  e2e/lib/testing.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adding ansible galaxy install pre_task to deploy_kubeadm_k8s (#308)
  e2e/provision/playbooks/deploy_kubeadm_k8s.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Make sandbox install script WSL-friendly (#298)
  e2e/provision/install_sandbox.sh
  images/generic-autobumper/Dockerfile
  images/gotests/Dockerfile
  images/label_sync/Dockerfile
  images/releaser/Dockerfile
Due: provision-linter, images-hadolint, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, build-push-image-gotests, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser

Script output logging for e2e tests (#306)
  e2e/lib/testing.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Increasing timeouts for ssh in molecule gce plugin and bumping molecule version
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/test-requirements.txt
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Update test-requirements.txt
  e2e/provision/test-requirements.txt
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

change GCE zone back to us-central1-c
  e2e/terraform/modules/gcp/variables.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Disabling 009 free5gc testcase
  e2e/tests/free5gc/disable-009.sh.BAK
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Disabling 009 free5gc testcase (#311)
  e2e/tests/free5gc/disable-009.sh.BAK
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Upgrade k8s version v1.30.0 (#303)
  e2e/provision/galaxy-requirements.yml
  e2e/provision/init.sh
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Force packer to replace existing image
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Force packer to replace existing image (#312)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding logic to allow config to be specified for kubeadm
  e2e/provision/playbooks/roles/kubeadm/defaults/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-Debian.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Increasing timeouts for ssh in molecule gce and bumping versions (#310)
  e2e/provision/playbooks/roles/bootstrap/molecule/ci/molecule.yml
  e2e/provision/test-requirements.txt
  e2e/terraform/modules/gcp/variables.tf
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add fluxcd install by default
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove porch functions from integration
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Disable gpg checks on yum kubeadm install
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-RedHat.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Disable gpg checks on yum kubeadm install (#316)
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-RedHat.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Remove porch functions from integration (#315)
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Refine kubeadm CI frequency
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Refine kubeadm CI frequency (#317)
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Upgrade Fedora e2e tests with OAI to run on 41
  .prow.yaml
  e2e/provision/distros_supported.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/terraform/main.tf
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Cleanup for linter
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Pinning fedora image to a version, removing old instances
  e2e/provision/distros_supported.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/terraform/main.tf
Due: provision-linter, bootstrap-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add fluxcd install by default (#314)
  e2e/provision/playbooks/roles/install/defaults/main.yml
Due: provision-linter, install-integration, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fedora-CoreOS has different default user than plain Fedora
  e2e/terraform/main.tf
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Fix for non config use case
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Adding logic to allow config to be specified for kubeadm init (#313)
  e2e/provision/playbooks/roles/kubeadm/defaults/main.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/kubeadm-Debian.yml
  e2e/provision/playbooks/roles/kubeadm/tasks/main.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Replace porchctl main release with dev release
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Replace porchctl main release with dev release (#319)
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add centralised fluxcd workload cluster deploy suite
  e2e/lib/capi.sh
  e2e/tests/flux/001.sh
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/flux/002.sh
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add new prow jobs for flux suite
  .prow.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, presubmit-test-infra-inrepoconfig-validation

Bump go version and tools for gotests base image
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

Bump go version and tools for gotests base image (#321)
  images/gotests/Dockerfile
Due: images-hadolint, build-push-image-gotests

O2 IMS Operator release image build
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update gen-kust-res image
  e2e/tests/flux/002-free5gc-cp.yaml
Due: e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34

Add fluxcd workload suite (#320)
  .prow.yaml
  e2e/lib/capi.sh
  e2e/tests/flux/001.sh
  e2e/tests/flux/002-free5gc-cp.yaml
  e2e/tests/flux/002.sh
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local, e2e-free5gc-ubuntu-focal, e2e-free5gc-fedora-34, e2e-oai-ubuntu-jammy, e2e-oai-fedora-34, presubmit-test-infra-inrepoconfig-validation

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-free5gc-ubuntu-focal: any of: ^e2e/
  e2e-free5gc-fedora-34: any of: ^e2e/
  e2e-oai-ubuntu-jammy: any of: ^e2e/
  e2e-oai-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
