Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, provision-linter, images-hadolint, bootstrap-integration, kpt-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34, build-push-image-gotests, build-push-image-e2e, build-push-image-label_sync, build-push-image-generic-autobumper, build-push-image-releaser, build-push-image-linter, build-push-image-molecule, presubmit-test-infra-inrepoconfig-validation

pre-submit-test-infra-validate-local:
  labels: null
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20221208-8898931a7f
      command:
      - checkconfig
      args:
      - --plugin-config=prow/config/plugins.yaml
      - --config-path=prow/config/config.yaml

provision-linter:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/linter:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e lint

images-hadolint:
  labels: null
  decorate: true
  spec:
    containers:
    - image: hadolint/hadolint:v2.12.0-debian
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; for dockerfile in images/*/Dockerfile; do hadolint $dockerfile -t warning; done

bootstrap-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e bootstrap -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
  ...

kpt-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e kpt -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

install-integration:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/molecule:latest
      command:
      - /bin/sh
      args:
      - -c
      - set -eE; cd e2e/provision; /usr/local/bin/tox -e install -- --scenario-name ci --driver-name gce
      volumeMounts:
      - name: satoken
        mountPath: /etc/satoken
  ...

e2e-ubuntu-focal:
  labels: null
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-ubuntu-focal -auto-approve'' EXIT;
  
  ...

e2e-fedora-34:
  labels: null
  optional: true
  decorate: true
  spec:
    containers:
    - image: nephio/e2e:1
      command:
      - /bin/sh
      args:
      - -c
      - 'set -eE; cd e2e/terraform; trap ''terraform destroy -target module.gcp-fedora-34 -auto-approve'' EXIT;
  
  ...

build-push-image-gotests:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD}/images/gotests \\\n  --dockerfile=Dockerfile --destination=nephio/gotests:${BUILD_ID} \\\n  --destination=nephio/gotests:latest\n"
  ...

build-push-image-label_sync:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
  ...

Fixing path for images that do not have git installed (#213)
  .prow.yaml
Due: presubmit-test-infra-inrepoconfig-validation

Add assertions to 001 e2e test script
  e2e/lib/_assertions.sh
  e2e/lib/capi.sh
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
  e2e/tests/001.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Ansible install role: Replace auto-detection of gitea IP by receiving it as an input parameter
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Make ansible-lint happier
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Add exceptions for ansible-lint rules wherever it's justified
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix handling missing proxy envvars
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Ansible: move all Gitea-specific parts out of the install role.
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix ansible-lint findings
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix multiline strings
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Fix typo
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix idempotency of roles
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Adjust molecule test of install role
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix ansible-linter findings
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix molecule config
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix install/molecule config
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/default/tasks/deploy_kpt.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

roles/install/molecule test: wait for kind cluster to be ready
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix ansible-lint issue
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix install/molecule test
  e2e/provision/playbooks/roles/install/molecule/default/tasks/deploy_kpt.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Replace calling kpt CLI with kpt ansible module
  e2e/provision/playbooks/roles/install/molecule/default/tasks/deploy_kpt.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

ansible-lint
  e2e/provision/playbooks/roles/install/molecule/default/tasks/deploy_kpt.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Restore creating the Gitea username/password secret also in nephio-system namespace
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
Due: provision-linter, bootstrap-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix: Restore creating the Gitea username/password secret also in nephio-system namespace
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prep-gitea.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

debugging install role
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, install-integration, e2e-ubuntu-focal, e2e-fedora-34

debugging install role
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix molecule test of install role: move setting local git facts from prepare playbook to converge playbook
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/molecule/default/converge.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Pass HTTP proxy environment variables to the Docker daemon (#214)
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add assertions to 001 e2e test script (#203)
  e2e/lib/_assertions.sh
  e2e/lib/capi.sh
  e2e/lib/k8s.sh
  e2e/lib/kpt.sh
  e2e/lib/porch.sh
  e2e/tests/001.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Adding go coverage reporting
  images/gotests/Dockerfile
  images/gotests/coverage.sh
Due: images-hadolint, build-push-image-gotests

Add assertions to 002 and 003 e2e test scripts
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/tests/002-network-topo.tmpl
  e2e/tests/002-network.yaml
  e2e/tests/002-secret.yaml
  e2e/tests/002.sh
  e2e/tests/003-network.yaml
  e2e/tests/003-secret.yaml
  e2e/tests/003.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Enable add Ansible extra var list
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Add assertions to 002 and 003 e2e test scripts (#216)
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/tests/002-network-topo.tmpl
  e2e/tests/002-network.yaml
  e2e/tests/002-secret.yaml
  e2e/tests/002.sh
  e2e/tests/003-network.yaml
  e2e/tests/003-secret.yaml
  e2e/tests/003.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Move e2e tests into a free5gc folder
  e2e/defaults.env
  e2e/e2e.sh
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network-topo.tmpl
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/002-secret.yaml
  e2e/tests/free5gc/002-topo.gotmpl
  e2e/tests/free5gc/002.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/free5gc/007-subscriber.json
  e2e/tests/free5gc/007.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Enable add Ansible extra var list (#217)
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
  e2e/provision/playbooks/cluster.yml
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Move e2e tests into a free5gc folder (#218)
  e2e/defaults.env
  e2e/e2e.sh
  e2e/provision/hacks/inter-connect_workers.sh
  e2e/provision/hacks/vlan-interfaces.sh
  e2e/tests/free5gc/001.sh
  e2e/tests/free5gc/002-edge-clusters.yaml
  e2e/tests/free5gc/002-network-topo.tmpl
  e2e/tests/free5gc/002-network.yaml
  e2e/tests/free5gc/002-secret.yaml
  e2e/tests/free5gc/002-topo.gotmpl
  e2e/tests/free5gc/002.sh
  e2e/tests/free5gc/003.sh
  e2e/tests/free5gc/004-free5gc-operator.yaml
  e2e/tests/free5gc/004.sh
  e2e/tests/free5gc/005-edge-free5gc-upf.yaml
  e2e/tests/free5gc/005.sh
  e2e/tests/free5gc/006-regional-free5gc-amf.yaml
  e2e/tests/free5gc/006-regional-free5gc-smf.yaml
  e2e/tests/free5gc/006.sh
  e2e/tests/free5gc/007-edge01-ueransim.yaml
  e2e/tests/free5gc/007-subscriber.json
  e2e/tests/free5gc/007.sh
  e2e/tests/free5gc/008.sh
  e2e/tests/free5gc/009.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Victor's changes
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/post-gitea.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/ci/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/converge.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/default/tasks/deploy_kpt.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/mirror_git_repo_to_gitea.yaml
Due: provision-linter, bootstrap-integration, install-integration, e2e-ubuntu-focal, e2e-fedora-34

Fix ANSIBLE_CMD_EXTRA_VAR_LIST variable
  e2e/provision/Vagrantfile
  e2e/provision/init.sh
  e2e/provision/install_sandbox.sh
Due: provision-linter, e2e-ubuntu-focal, e2e-fedora-34

Improve kpt_wait_pkg error message
  e2e/lib/kpt.sh
Due: e2e-ubuntu-focal, e2e-fedora-34

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  provision-linter: any of: ^e2e/provision
  images-hadolint: any of: ^images/
  bootstrap-integration: any of: ^e2e/provision/playbooks/roles/bootstrap
  kpt-integration: any of: ^e2e/provision/playbooks/roles/kpt
  install-integration: any of: ^e2e/provision/playbooks/roles/install
  e2e-ubuntu-focal: any of: ^e2e/
  e2e-fedora-34: any of: ^e2e/
  build-push-image-gotests: any of: images/gotests/.*
  build-push-image-e2e: any of: images/e2e/.*
  build-push-image-label_sync: any of: images/label_sync/.*
  build-push-image-generic-autobumper: any of: images/generic-autobumper/.*
  build-push-image-releaser: any of: images/releaser/.*
  build-push-image-linter: any of: images/linter/.*
  build-push-image-molecule: any of: images/molecule/.*
  presubmit-test-infra-inrepoconfig-validation: any of: .prow.yaml|.prow/
